<!DOCTYPE html>
<html ng-app="myAngularApp">
  <head>
    <meta charset="utf-8">
    <title>Angular-To-Do</title>
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="controller.js"></script>
  </head>
  <body ng-controller="AppController">
    <header class="page-header">
      <h1>Angular-To-Do</h1>
    </header>
    <main>
      <input type="text" ng-model="inputToDo" />
      <button ng-click="submitToDo()">Add</button>
      <div ng-show="viewToDo">
        <ul>
          <li ng-repeat="item in list">{{item.desc}} <input type="checkbox" ng-click="markForRemoval(item)"/></li>
        </ul>
        <button ng-click="removeItems()">Remove</button>
      </div>
    </main>
  </body>
</html>
