<!DOCTYPE html>
<html ng-app="myAngularApp">
  <head>
    <meta charset="utf-8">
    <title>Angular-To-Do</title>
    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="controller.js"></script>
  </head>
  <body ng-controller="AppController">
    <header class="page-header">
      <h1>Angular-To-Do</h1>
    </header>
    <main>
      <div class="row">
        <div class="col-sm-6">
          <div class="input-group">
            <input type="text" class="form-control" ng-model="inputToDo">
            <span class="input-group-btn">
              <button class="btn btn-secondary btn-success" type="button" ng-click="submitToDo()">Add</button>
            </span>
          </div>
        </div>
      </div>
      <div class="results" ng-show="viewToDo">
        <ul>
          <span ng-repeat="item in list"><input type="checkbox" ng-click="markForRemoval(item)"/> {{item.desc}}</span>
        </ul>
        <button class="btn btn-danger" ng-click="removeItems()">Remove</button>
      </div>
    </main>
  </body>
</html>
